
<div class="center hero-unit">
<h1>CrowdRenta</h1>
<p>Rent anything, anytime, anywhere</p>
<p>
	<a class="btn btn-primary btn-large">
		Click This
	</a>

</div>


<ul class="thumbnails">
<li class="span3">
<div class="thumbnail">
<img src="http://placehold.it/360x268" alt="">
</div>
</li>
</p>



