<div class="row">
  <aside class="span4">
    <section>
      <h1>
      	<% @user = User.find(params[:id]) %>
        <%= gravatar_for @user %>
        <%= @user.first_name %>
      </h1>
    </section>
  </aside>
</div>