<footer class="footer">
  <small>
    <a href="http://twitter.com/toaksie">Follow Us</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", root_path %></li>
      <li><%= link_to "Contact", root_path %></li>
      <li><a href="http://facebook.com/crowdrenta/">Facebook Page</a></li>
    </ul>
  </nav>
</footer>